{
    "plugins": ["./node_modules/prettier-plugin-multiline-arrays"],
    "singleQuote": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "trailingComma": "all"
}

