<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active', 'pretty']" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active', 'pretty']" routerLink="gifts">Gift Giving</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active', 'pretty']" routerLink="about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active', 'pretty']" routerLink="counter">Redux Counter</a>
    </li>
    
  </ul>